.container {
  background: $background-primary;
  height: 100vh;
  width: 100%;

  header {
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;

    .title_wrapper {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .emoji {
        text-align: center;
        width: 2rem;
      }
    }

    .controls_wrapper {
      display: flex;
      gap: 1rem;
      align-items: center;

      .last_edit {
        color: $color_secondary;
      }

      .share {
        padding: 0.4rem 0.75rem;
        border-radius: 0.3rem;
        transition: all 0.1s ease-in;

        &:hover {
          background: $background-primary-h;
          cursor: pointer;
        }
      }

      .icon_wrapper {
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
        height: 100%;
        font-size: 1.6rem;
        border-radius: 0.3rem;

        transition: all 0.1s ease-in;

        &:hover {
          background: $background-primary-h;
          cursor: pointer;
        }
      }
    }
  }
}
