html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-f-app;
  font-weight: 400;
  color: $color-primary;
  background-color: #f9f9f9;
  font-size: 1.4rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main-container {
  max-width: 125rem;
  width: 90%;
  margin: 0 auto;
}
