@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
$font-f-app: 'Inter', sans-serif;

$color-light: #d7d7d7;
$color-lg: #9b9b9b;
$color-controls: #636363;
$color-placeholder: #373737;
$color-auth-button: rgb(235, 87, 87);
$color-cancel-icon: #b4b3af;

$background-primary: #191919;
$background-secondary: #202020;
$background-modal: #252525;
$background-input: #f7f7f4;

$background-primary-h: #2c2c2c;
$background-modal-h: #313131;
$background-emoji-h: #383838;

$background-auth-button: #fdf5f2;
$background-auth-button-h: #fbebe8;

$border: 1px solid #353535;

$box-shadow-modal: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
  rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
