@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

$font-f-app: 'Inter', sans-serif;

$color-primary: #d7d7d7;
$color-secondary: #9b9b9b;
$color-controls: #636363;
$color-placeholder: #373737;

$background-primary: #191919;
$background-secondary: #202020;
$background-modal: #252525;

$background-primary-h: #2c2c2c;
$background-emoji-h: #383838;

$border: 1px solid #353535;
