@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto:wght@400;700;900&display=swap');

$font-f-app: 'Roboto', sans-serif;
$font-f-note: 'Just Another Hand', cursive;

$color-primary: #d7d7d7;
$color-secondary: #9b9b9b;

$background-primary: #191919;
$background-secondary: #202020;

$border: 1px solid #353535;
