.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    margin-bottom: 10rem;
    position: relative;
    z-index: 1;

    .nav {
      background: $background-primary;
      top: 0;
      position: fixed;
      padding: 2rem;
      max-width: 120rem;
      margin: 0 auto;
      width: 90%;
      font-weight: 700;
      font-size: 1.6rem;
      transform: translateX(-50%);
      left: 50%;
      z-index: 1;
    }
  }

  .main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 10rem);

    .form {
      padding: 10vh 0;
      max-width: 32rem;
      width: 100%;

      .title_wrapper {
        border-bottom: $border;
        padding-bottom: 1rem;

        .title {
          text-align: center;
          font-size: 5rem;
        }
      }

      .inputs_container {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        gap: 2rem;

        label {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        .input_wrapper {
          width: 100%;
          background: $background-input;
          border-radius: 0.4rem;
          box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
          align-items: center;
          display: flex;
          gap: 0.5rem;
          padding: 1rem;

          &:focus-within {
            outline: 2px solid #9ecaed;
            box-shadow: rgba(158, 202, 237, 0.3) 0px 0px 0px 1px inset;
          }

          input {
            all: unset;
            width: 100%;
            color: #000;

            &:hover {
              cursor: text;
            }
          }

          .cancel_icon {
            color: $color-cancel-icon;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .submit {
        border: none;
        width: 100%;
        font-size: 1.4rem;
        padding: 1rem;
        color: $color-auth-button;
        font-weight: 500;
        background: $background-auth-button;
        margin-bottom: 2rem;
        border-radius: 0.4rem;
        box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 2px,
          rgba(235, 87, 87, 0.3) 0px 0px 0px 1px inset;

        &:hover {
          cursor: pointer;
          background: $background-auth-button-h;
        }
      }

      .error {
        text-align: center;
        margin-bottom: 2rem;
        color: $color-auth-button;
        font-weight: 400;
      }

      .switch_mode_wrapper {
        text-align: center;
        .switch_mode {
          text-decoration: underline;
          color: $color-light;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
