.container {
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow-modal;

  .search_box {
    padding: 1.5rem 2rem;
    border-bottom: $border;
  }

  .list {
    padding: 1.5rem 2rem;
    text-align: center;
  }
}
