.form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    all: unset;
  }

  .header {
    padding: 6.5rem 10rem 0;

    .emoji_wrapper {
      display: inline-block;
      margin-bottom: 1rem;
      border-radius: 0.3rem;

      &:hover {
        background: $background-primary-h;
        cursor: pointer;
      }

      .emoji {
        font-size: 7rem;
        line-height: 1;
      }
    }

    &:hover > .header_content > .controls {
      visibility: visible;
      transition: opacity 0.1s ease-in;
      opacity: 1;
    }

    .header_content {
      .controls {
        user-select: none;
        display: flex;
        visibility: hidden;

        transition: all 0.1s ease-in;
        opacity: 0;

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.75rem;
          border-radius: 0.3rem;
          color: $color-controls;

          &:hover {
            background: $background-primary-h;
            cursor: pointer;
          }
        }
      }

      .title {
        font-size: 4rem;
        font-weight: 700;

        &::placeholder {
          color: $color-placeholder;
        }
      }
    }
  }

  .body {
    padding: 0 10rem;

    .content {
      padding: 1rem 0;

      font-size: 1.6rem;
      &::placeholder {
        color: $color-placeholder;
      }
    }
  }
}
